<div class="container">
  <h1>Add new product</h1>
  <div class="row">
      <div class="col-6">
          <form #form="ngForm" (ngSubmit)="addProducts()">
              <div class="mb-3">
                <label for="Name" class="form-label">Name</label>
                <input type="text" class="form-control" id="Name" name="Name" [(ngModel)] = "newProduct.Name"/>
              </div>
              <div class="mb-3">
                <label for="Type" class="form-label">Type</label>
                <input type="text" class="form-control" id="Type" name="Type" [(ngModel)] = "newProduct.Type"/>
              </div>
              <div class="mb-3">
                  <label for="Color" class="form-label">Color</label>
                  <input type="text" class="form-control" id="Color" name="Color" [(ngModel)] = "newProduct.Color"/>
                </div>
                <div class="mb-3">
                  <label for="Price" class="form-label">Price</label>
                  <input type="number" class="form-control" id="Price" name="Price" [(ngModel)] = "newProduct.Price"/>
                </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
  </div>
</div>