<div class="container">
    <h1>Update product</h1>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="updateProducts()">
                <div class="mb-3">
                    <label for="id" class="form-label">Id</label>
                    <input type="text" class="form-control bg-light" id="id" name="id" readonly [(ngModel)] = "updateProductRequest.id"/>
                  </div>
                <div class="mb-3">
                  <label for="Name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="Name" name="Name" [(ngModel)] = "updateProductRequest.Name"/>
                </div>
                <div class="mb-3">
                  <label for="Type" class="form-label">Type</label>
                  <input type="text" class="form-control" id="Type" name="Type" [(ngModel)] = "updateProductRequest.Type"/>
                </div>
                <div class="mb-3">
                    <label for="Color" class="form-label">Color</label>
                    <input type="text" class="form-control" id="Color" name="Color" [(ngModel)] = "updateProductRequest.Color"/>
                  </div>
                  <div class="mb-3">
                    <label for="Price" class="form-label">Price</label>
                    <input type="text" class="form-control" id="Price" name="Price" [(ngModel)] = "updateProductRequest.Price"/>
                  </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>